
<body style="text-align: center; ">

<h3 style="margin-top: 20px; font-weight: 900; color: #12877E">Safary</h3>
<div class="container" id="sign-up-container">

<h3>Welcome to Safary! </h3>
<p>You can now discover the schedule <br>
for the next 4 weeks and join our Discord.</p>
<div style="height: 300px; line-height: 300px;">
  <%= image_tag("bus-safary.png", :width => 400, class: "ludov") %>
</div>
<%= link_to 'Start the Safary 🚌', onboarded_path, method: :post, class: "button"%>
</div>
<%= image_tag("safary-backgound.png", class: "safary-img") %>
</body>

<style>


  .button:hover {
    background-color: white;
    color: black;
    border: solid;
    border-color: black;
  }


  .button {
    z-index: 1;
    position: relative;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    border: none;
  }


  #sign-up-container {
    width: 800px;
    height: 600px;
  }

  .safary-img {
    margin-top: -500px;
    width: 100%;
    position:relative;
    z-index: -1;
  }

    @media (max-width: 600px) {
    .safary-img {
    height: 42vh;
    width: 100%;
    object-fit: contain;
    margin-top: 0px !important;

    }

    .ludov {
      width: 90%;
    }

    #sign-up-container {
      width: 95%;

    }

    .button-sub {
      width: 90%;
    }

    .button-sub2 {
      width: 90%;
    }

}
