
<body style="text-align: center; ">

<h3 style="margin-top: 20px; font-weight: 900; color: #12877E">Safary</h3>
<div class="container" id="sign-up-container">

<p>Step 1/3 </p>
<h3>Book your 1:1 onboarding call </h3>
<p>Feel free to book your call if you have not already.</p>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/eliott-mogenet-freed/30min?hide_event_type_details=1&hide_gdpr_banner=1" style="min-width:160px;height:315px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

<%= link_to 'I booked it ðŸ‘', onboarding2_path, class: "button"%>
</div>
<%= image_tag("safary-backgound.png", class: "safary-img") %>
</body>

<style>

  .button:hover {
    background-color: white;
    color: black;
    border: solid;
    border-color: black;
  }


  .button {
    z-index: 1;
    position: relative;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    border: none;
  }


  #sign-up-container {
    width: 800px;
    height: 600px;
  }

  .safary-img {
    margin-top: -500px;
    width: 100%;
    position:relative;
    z-index: -1;
  }

    @media (max-width: 600px) {
    .safary-img {
    height: 42vh;
    width: 100%;
    object-fit: contain;
    margin-top: 0px !important;

    }

    #sign-up-container {
      width: 95%;

    }

    .button-sub {
      width: 90%;
    }

    .button-sub2 {
      width: 90%;
    }

}
</style>
