<body>

<div style="text-align: center;">
  <div class="header">
    <h3 style="margin-top: 20px; margin-bottom: 20px; font-weight: 900; color: #D25C5C">Safary</h3>
    <div>
      <button class="Member_acce" style="margin-top: 10px; background-color: #FCFAED; color: black;" onclick="location.href='https://www.safary.club/users/sign_in'">Member access 🚌</button>
    </div>
  </div>
  <br>


<h1 style="font-weight: 900; font-size: 70px;">The first <span> Web3 growth </span> <br> community </h1>
<br>
<p>Join the community to learn about web3 growth.<br>
Analyze metrics, discuss tactics, and benchmark your progress.</p>
<br>
<div>
  <button onclick="location.href='https://airtable.com/shriqI2uduy02Gcl1'">Apply for batch 5 🦁</button>
</div>
<br>

<%= image_tag("safary.png", :width => 900, class: "safary-img") %>
<p>A community supported by top web3 growth leaders</p>
<%= image_tag("logos.png", :width => 900, class: "safary-img", id: "logo") %>
<%= image_tag("mobile2.png", :width => 900, class: "safary-img", id: "mobile2") %>
<%= image_tag("mobile1.png", :width => 900, class: "safary-img", id: "mobile1") %>


</div>
</body>

<style>

  #mobile1 {
    display: none;
  }


  #mobile2 {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-around;
  }

  button:hover {
    background-color: #FCFAED;
    color: black;
    border-style: solid;
  }

  button {
    background-color: black;
    color: white;
    height: 50px;
    width: 300px;
    border-radius: 40px;
    border: none;
    font-weight: bold;
  }

  span {
    color: #D25C5C;
    font-size: 70px;
  }

  .safary-img {
    margin-left: 40px;

  }

    @media (max-width: 600px) {

      #mobile1 {
        display: block
      }

      #mobile2 {
        display: block
      }

      #logo {
        display: none;
      }

      .Member_acce {
        display: none;
      }

      .header {
         display: flex;
        justify-content: center;
      }

    h3 {
      font-size: 30px !important;
      margin-bottom: 30px;
    }

    h1 {
      font-size: 50px !important;
      width: 90%;
      margin-left: 5%;
      text-align: center;
    }

    p {
      font-size: 20px !important;
    }

    span {
    color: #D25C5C;
    font-size: 50px !important;
    }


    .safary-img {
    margin: 10px;
    width: 90%;
    object-fit: contain;

    }

    button {
      width: 90%;
      font-size: 20px;

    }

    .button-sub {
      width: 90%;
    }

    .button-sub2 {
      width: 90%;
    }

}
