<body>

<div style="text-align: center;">
  <div class="header">
    <h3 style="margin-top: 20px; margin-bottom: 20px; font-weight: 900; color: #D25C5C">Safary</h3>
    <div>
      <button class="Member_acce" style="margin-top: 10px; background-color: #FCFAED; color: black;" onclick="location.href='https://app.safary.club/users/sign_in'">Member access 🚌</button>
    </div>
  </div>
  <br>


<h1 style="font-weight: 900; font-size: 70px;">The first <span> Web3 growth </span> <br> community </h1>
<br>
<p>Join the community to learn about web3 growth.<br>
Analyze metrics, discuss tactics, and benchmark your progress.</p>
<br>
<div>
  <button onclick="location.href='https://airtable.com/shriqI2uduy02Gcl1'">Apply for batch 4 🦁</button>
</div>
<br>
  <p>Applications close on <u> Friday 19th of August</u></p>

<%= image_tag("safary.png", :width => 900, class: "safary-img") %>
<p>A community supported by top web3 growth leaders</p>
<%= image_tag("logos.png", :width => 900) %>

</div>
</body>

<style>



  .header {
    display: flex;
    justify-content: space-around;
  }

  button:hover {
    background-color: #FCFAED;
    color: black;
    border-style: solid;
  }

  button {
    background-color: black;
    color: white;
    height: 50px;
    width: 300px;
    border-radius: 40px;
    border: none;
    font-weight: bold;
  }

  span {
    color: #D25C5C;
    font-size: 70px;
  }

  .safary-img {
    margin-left: 40px;

  }

    @media (max-width: 600px) {

      .Member_acce {
        display: none;
      }

      .header {
         display: flex;
        justify-content: center;
      }

    h3 {
      font-size: 40px !important;
      margin-bottom: 30px;
    }

    h1 {
      font-size: 70px !important;
    }

    p {
      font-size: 25px !important;
    }


    .safary-img {
    height: 42vh;
    width: 100%;
    object-fit: contain;

    }

    button {
      width: 60%;
      font-size: 25px;

    }

    .button-sub {
      width: 90%;
    }

    .button-sub2 {
      width: 90%;
    }

}
